# Feature Engineering - Ecoding

## Import Data

In [2]:
gdurltitanic = 'https://drive.google.com/file/d/15tUbXaTIktuLzNjTq6euUHqBpGNuz7u6/view?usp=sharing'
gdtitanic = 'https://drive.google.com/uc?export=download&id='+gdurltitanic.split('/')[-2]
gdurlhousing = 'https://drive.google.com/file/d/11bQwRc8TIPWbLXwnElIOf_NygTCwomwa/view?usp=sharing'
gdhousing = 'https://drive.google.com/uc?export=download&id='+gdurlhousing.split('/')[-2]
gdmercedes = 'https://drive.google.com/uc?export=download&id='+'https://drive.google.com/file/d/1cgfq8R82cLL1xJYbh9jA_qbHihThzYHg/view?usp=sharing'.split('/')[-2]

# 1. One Hot Encoding

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(gdtitanic, usecols=['Sex'])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [6]:
pd.get_dummies(df,drop_first=False).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

# 2. One Hot Encoding for Categories with Multiple Variables

## Check the Mercedes example in the other notebook

# 3. Ordinal Number Encoding (Variables that can be ranked)

In [7]:
import datetime

In [8]:
today_date = datetime.datetime.today()

In [9]:
today_date

datetime.datetime(2020, 9, 12, 5, 19, 24, 28927)

In [10]:
today_date-datetime.timedelta(1)

datetime.datetime(2020, 9, 11, 5, 19, 24, 28927)

In [11]:
## List Comprehension

[today_date-datetime.timedelta(x) for x in range(0,15)]

[datetime.datetime(2020, 9, 12, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 11, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 10, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 9, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 8, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 7, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 6, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 5, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 4, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 3, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 2, 5, 19, 24, 28927),
 datetime.datetime(2020, 9, 1, 5, 19, 24, 28927),
 datetime.datetime(2020, 8, 31, 5, 19, 24, 28927),
 datetime.datetime(2020, 8, 30, 5, 19, 24, 28927),
 datetime.datetime(2020, 8, 29, 5, 19, 24, 28927)]